/etc
# build
.venv
.pytest_cache
.mypy_cache
.coverage
dist
__pycache__/
*.pyc
*.egg-info
*.swp

# env
.idea
.vscode
.helm_ls_cache

# dev
sql_app.db
.env
.env.playwright
kubernetes/client_configs/*
kubernetes/config.yaml
.DS_Store

var
var/*
**/target/*
src/buf/.cache
src/buf/gen
src/frontend/generated

hosts/pi5.fritz.box/kubeconfig
.kube
hosts/k3d/etc/tls/*.pem

# Helm packaged charts
*.tgz
